modules/wallpapers/.local/share/wallpapers/*.jpg filter=lfs diff=lfs merge=lfs -text
modules/wallpapers/.local/share/wallpapers/*.jpeg filter=lfs diff=lfs merge=lfs -text
modules/wallpapers/.local/share/wallpapers/*.png filter=lfs diff=lfs merge=lfs -text
