window {
  background: {{colors.background.default.hex}};
  border: 2px solid {{colors.primary.default.hex}};
  border-radius: 0.8rem;
  box-shadow: 0 0 15px {{colors.primary.default.rgba_string}};
}

* {
  font-family: "JetBrains Mono";
  color: {{colors.on_surface.default.hex}};
}

/* 輸入框外圈 */
#input {
  background-color: {{colors.surface.default.hex}};
  margin: 10px;
  padding: 8px;
  border: 1px solid {{colors.outline.default.hex}};
}

/* 列表區容器 */
#outer-box {
  padding: 5px;
}

/* 項目選擇區 */
#entry {
  border-radius: 0.4rem;
  margin: 2px 10px;
}

#entry:selected {
  background-color: {{colors.primary_container.default.hex}};
  border: 2px solid {{colors.primary.default.hex}};
  color: {{colors.on_primary_container.default.hex}};
}
