[Unit]
Description=Sunshine Game Stream Server (Wayland)
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
Environment=XDG_SESSION_TYPE=wayland
ExecStart=/usr/bin/sunshine
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
